/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.env
.env.backup
.env.production
.env.local
.env.development
.env.test
.env.testing
.phpunit.result.cache
.phpunit.cache/
.phpactor.json
.vscode/
.idea/
.zed/
.fleet/
.nova/
Homestead.json
Homestead.yaml
*.log
*.sqlite
Thumbs.db
.DS_Store
.claude
boost.json
CLAUDE.md